{% extends 'aplicacion/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenido %}


<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h3>Modificar Personas</h3>
        <h6>Editando a {{persona}} RUT: {{persona.rut}}</h6>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form | crispy }}
            <div>
                <input type="submit" value="Modificar" class="btn btn-warning text-light btn-lg">
            </div>
        
        </form>
    </div>
    <div class="col-sm-4"></div>
</div>



{% endblock contenido %}


